<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="shortcut icon" href="img/lista-icon.png" type="image/x-icon">
    <title>Lista de Usuários 📁</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('/img/lista-img.jpg');
            background-size: cover; 
            background-repeat: no-repeat;
        }
        main {
            padding: 20px;
        }

        h1 {
            text-align: center;
            color: white;
            margin-bottom: 30px;
            font-weight: bolder;
            text-shadow: 0 0 10px #000;
        }

        .table {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .table th,
        .table td {
            vertical-align: middle;
        }

        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
        }

        .btn-danger:hover {
            background-color: #c82333;
            border-color: #bd2130;
        }

    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">TarefasUP 📂 </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/cadastro">Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/lista">Lista de Usuários</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="lista-tarefas">Lista Tarefas</a>
                    </li>
                </ul>
            </div>
            <form method="post" action="/logout">
                <button type="submit" class="btn btn-dark">Sair</button>
            </form>
        </div>
    </nav>

    <br><br>

    <main>
        <div class="container">
            <h1>Lista de Usuários 📌</h1>
            <div id="alerta"></div>
            <table id="table" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </main>

    <script>
        let table = document.getElementById("table");

        gerarDadosDaTabela();

        async function excluirUsuario(name, email) {
            const options = {
                method: 'POST',
                body: JSON.stringify({ name, email }),
                headers: { 'Content-Type': 'application/json' }
            }

            await fetch('/lista/json', options)
                .then(res => res.json())
                .catch(err => err.message = '')
                .then(data => {
                    if (data?.erro) {
                        alerta.innerHTML = `<div class="alert alert-danger" role="alert">${data.erro}</div>`;
                    } else {
                        alerta.innerHTML = '';
                    }
                })
            gerarDadosDaTabela();
        }

        function gerarDadosDaTabela() {
            fetch('/lista/json')
                .then(res => res.json())
                .then(data => {
                    const tbody = table.querySelector('tbody');
                    tbody.innerHTML = "";
                    for (let user of data.pessoas) {
                        tbody.innerHTML += `<tr>
                          <td>${user.name}</td>
                          <td>${user.email}</td>
                          <td> <button type="button" onclick="excluirUsuario('${user.name}', '${user.email}')" class="btn btn-danger">Excluir</button> </td>
                        </tr>`
                    }
                });
        }
    </script>
</body>

</html>